@import "../../modules/_base.scss";
/*Mobile Menu*/
.m-menu{
    position:fixed;
    @include px2rem(width, 256px);
    height:100%;
    top:0;
    @include px2rem(right, -256px);
    z-index:3200;//поверх оверлея
    overflow-x:hidden;
    overflow-y:auto;
    @include transition(transform .3s ease);
    @include linear-gradient(to bottom, #222, #444);

    @include media($tablet){
        display:none;
    }

    &.active{
        @include transform(translateX(-100%));
    }
}

.no-csstransforms{
    .m-menu.active{
        right:0;
    }
}
.m-menu__list{
    @extend .g-clearlist;
}
.m-menu__link{
    display:block;
    @include px2rem(padding, 8px 12px);
    border-top:1px solid #808080;
    border-bottom:1px solid #000;
    @include font-size(18px);
    line-height:1.2;
    color:#fff;
    text-decoration:none;
    &:hover,
    &:active{
        color:$primary-alt;
    }
}
.m-menu__label{
    display:block;
    @include px2rem(height, 48px);
    @include px2rem(line-height, 48px);
    @include px2rem(padding, 0 30px 0 12px);
    border-bottom:1px solid #000;
    @include font-size(18px);
    color:$border-color;
    text-transform:uppercase;
    box-sizing:border-box;
    cursor:pointer;
    outline:0;

    &:after{
        content:'\e801';
        font-family:'fontello';
        position:absolute;
        right:12px;
    }
}

