@import "../../modules/_base.scss";
/*Last Docs Section*/
.lastdocs{
     @extend .actual;

    @include media($tablet){
        height:485px;
    }
}
.lastdocs__inner{
    @extend .actual__inner;
}
.lastdocs__list{
    @extend .announce__list;
}
.lastdocs__date{
    @extend .announce__date;
    margin-top:13px;
}
.lastdocs__num{
    @extend .announce__num;
}
.lastdocs__item{
    @extend .announce__item;
}
.lastdocs__text{
    @extend .announce__text;
    height:79px;
}
.lastdocs__link{
    //text-decoration:none;
}