@import "../../modules/_base.scss";
/*Last Docs Section*/
.lastdocs{
    margin-bottom:20px;
}
.lastdocs__inner{
    @extend .actual__inner;
}

.lastdocs__wrapper{
    @extend .useful__wrapper;
}
.lastdocs__list{
    @extend .announce__list;
}
.lastdocs__date{
    @extend .announce__date;
    margin-top:13px;
}
.lastdocs__num{
    @extend .announce__num;
}
.lastdocs__item{
    @extend .announce__item;
}
.lastdocs__text{
    @extend .announce__text;
    height:auto;
    min-height:50px;
    max-height:90px;
}
.lastdocs__link{}