@import "../../modules/_base.scss";
/*Header Search Form*/
.h-search{
    position:absolute;
    padding:8px 0;
    right:48px;
    top:0;
    box-sizing:border-box;
    width:0;
    max-width:0;
    min-width:0;
    z-index:1010; //чтобы можно было накрыть элементы меню если что
    overflow:hidden;
    @include transition-property(max-width, min-width);//анимируем появление влево-вправо
    @include transition-duration(1s);
    @include animation(show-block);//если открыли поиск и скроллим вверх-вниз - дополнительный эффект
    @include animation-duration(1s);
    display:none;
    opacity:0;
}

.scrolled{
    .h-search{
         @include media($desktop){//будем показывать только на десктопе!
            display:block;
            opacity:1;
            &.active{
                width:160px;
                max-width:160px;
                min-width:160px;
            }
        }
    }
}

.h-search__input{
    display:inline-block;
    margin:0;
    height:32px;
    width:100%;
    padding:4px 10px;
    font-size:14px;
    border:1px solid #fff;
    box-sizing:border-box;
    outline:0;
    font-style:italic;
    font-weight:300;
    color:$text-color;
    background:#fff;

     @include placeholder{
        color:#959393;
        text-overflow:ellipsis;
    } 
}