@import "../modules/_base.scss";

@import "page/_breadcrumbs.scss";
@import "page/_slider.scss";//главный слайдер
@import "page/_page-header.scss";//блок между хидером и основным контентом на внутренних страницах
@import "page/_services.scss";//блоки услуг
@import "page/_titles.scss"; //заголовки
@import "page/_actual-news.scss"; //блок актуальные новости
@import "page/_announce.scss"; //блок анонсов
@import "page/_topnews.scss"; //блок топ-новости + слайдер топ-новостей
@import "page/_subscribe.scss"; //блок подписки на новости
@import "page/_lastdocs.scss"; //блок последних документов
@import "page/_useful.scss"; //блок полезные ссылки
@import "page/_publications.scss";//блок публикации
@import "page/_online.scss"; //блок виджета онлайн-видео
@import "page/_social-widget.scss"; //блок соц-виджета внизу страницы
@import "page/_page-content.scss"; //контент внутренней страницы


/*Page Grid*/
.page{
    margin-top:193px;
    padding-bottom:25px;

    @include media($tablet){
        margin-top:281px; //высота .page-header - .header +15px
    }

    @include media($desktop){
        margin-top:271px;
    }
}

.page__side,
.page__main,
.page__col{
    float:left;
    width:100%;
    min-height:1px;
    box-sizing:border-box;
}

@include media($tablet){
    .page__side{
        width:(100%-$grid-gutter*2)/3;
    }
    .page__main{
         width: 2*(100%-$grid-gutter*2)/3 + $grid-gutter;
         margin-left:$grid-gutter;
    }
}

.page__col{
    @include media($desktop){
        width:48.32%;
        margin-left:3.36%;

        &:first-child{
            margin-left:0;
        }
    }
}

/*Inner Page Grid Modify*/
.page__main--inner{
    @include media($tablet){
        float:right;
        margin-left:0;
    }
}

/*Homepage Grid*/
.h-page{
    margin-top:632px; //высота слайдера минус высота хидера (в этом разрешении)
    padding:25px 0;

    @include media($tablet){
        margin-top:718px;
    }

    @include media($desktop){
        margin-top:562px;
    }
}
.h-page__side,
.h-page__main,
.h-page__col{
    min-height:1px;
    box-sizing:border-box;
}

.h-page__side{
    @include media($desktop){
        float:left;
        width:(100%-$grid-gutter*2)/3;
    }
}

.h-page__main{
    @include media($desktop){
        float:right;
        width: 2*(100%-$grid-gutter*2)/3 + $grid-gutter;
    }
}

.h-page__col{
    @include media($tablet){
        float:left;
        width:(100%-$grid-gutter)/2;
        margin-left:$grid-gutter;

        &:first-child{
            margin-left:0;
        }
    }

    @include media($desktop){
        width:(100%-$grid-gutter*2)/3;
    }
}

.h-page__col--alt{
    @include media($tablet){
        width:100%;
        margin-left:0;
    }

    @include media($desktop){
        width:(100%-$grid-gutter*2)/3;
        margin-left:$grid-gutter;
    }
}

